*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
.controls{
    user-select: none;
    z-index: 50;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}
#next,#prev{
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    word-break: break-word;
    background-color: rgb(187, 187, 187);
    box-shadow: inset black 0 0 1px 1px;
}
#next:hover,#prev:hover{
    opacity: .7;
}


.slider{
    overflow: hidden;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
}
.slider__item{
    transition: .3s;
    width: 100%;
    height: 100%;
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__item img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}